
.main__nav {
    background: #f3f4f6;
    position: fixed;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid var(--main-color);
    .container {
        .navbar-brand {
            position: relative;
        }
        .navbar-brand:after {
            content: "";
            height: 30px;
            width: 1px;
            position: absolute;
            top: 50%;
            right: 0;
            background: #abafc7;
            border: 0.5px solid #abafc6;
            transform: translateY(-50%);
        }
        .all-links {
            //   span{}
            ul.pages-links {
                li {
                    a {
                        margin: 0 5px;
                        transition: 1s;
                    }
                    a:hover {
                       color: var(--main-color);
                    }
                }
              
            }
        }
        div.social-links {
            ul {
                margin: 0 22px;
                li {
                    margin: 0 10px;
                    // a {
                    //     svg {
                    //     }
                    // }
                }
            }
            button {
                background: #c9e6b0;
                box-shadow: -10px 30px 50px 0px #30690040;
                height: 52px;
                width: 163px;
                border-radius: 10px;
                position: relative;
                margin: 0 30px;
                border: none;
            }
            button:before {
                content: "";
                height: 30px;
                width: 1px;
                position: absolute;
                left: -38px;
                background: #abafc7;
                border: 0.5px solid #abafc6;
            }
            .country-select {
                width: 66px;
                select {
                    background: transparent;
                    border: none;
                    width: 100%;
                }
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .main__nav .container div.social-links {
        flex-direction: column;
    }
    .main__nav .container div.social-links ul {
        flex-direction: row;
    }
    .main__nav .container div.social-links button:before,
    .main__nav .container .navbar-brand:after {
        display: none;
    }
}

